.buy {
  text-align: left;
  button {
    min-width: 100%;
  }
}

.submit {
  margin: 20px;
  margin-top: 30px;
  min-width: 250px;
}
@media (min-width: 560px) {
  .buy {
    text-align: left;
    button {
      min-width: 400px;
      display: flex;
      justify-content: center;
margin: 0 auto;
      
    }
  }
}
@media (min-width: 768px) {
  .submit {
    margin: 20px;
    margin-top: 30px;
  }
  .buy {
    button {
      min-width: 250px;
    }
  }
}