.callback {
  width: 300px;
}
.submit {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}
.phone_form {
}

#callbackForm .MuiButton-containedPrimary {
  margin: 0 auto;
  display: block;
}

